 body {
  background-color: black;
}

.white {
  background-color: white;
  width: 1000px;
  height: 1000px;
  margin-left: 15%;
  margin-top: 10%;
  bottom: 0;
}

.white h1 {
  background-color: #e9265e;
  padding: 15px;
  border-radius: 10px 10px 0 0;
}

.black {
  background-color: pink;
  width: 350px;
  height: 93%;
  display: float;
  float: left;
  border-radius: 0 0 0 10px;
}

.black img {
  width: 150px;
  height: 150px;
  border: 3px solid white;
  border-radius: 80px;
  margin-left: 100px;
  margin-top: 30px;
}

.green {
  background-color: palevioletred;
  width: 650px;
  height: 93%;
  float: right;
  border-radius: 0 0 10px 0;
}

.side h4 {
  background-color: hsla(0, 0%, 100%, 0.46);
}

.side h4 a {
  text-decoration: none;
  cursor: pointer;
}

.side a:hover {
  opacity: 0.5;
}

.green {
  position: relative;
  right: 0;
}

.green label {
  margin: 10px;
  margin-left: 50px;
}

.green input {
  margin-top: 20px;
  margin-bottom: 25px;
  position: relative;
  left: 100px;
  width: 400px;
  cursor: pointer;
}

.green input:hover {
  opacity: 0.5;
}

                     /* END */
